<div>
 <div class="circle1" (mouseenter)="onChangeColor($event)" (mouseleave)="onResetColor()" (click)="onChangeDftClr($event)"></div>
 <div class="circle2" (mouseenter)="onChangeColor($event)" (mouseleave)="onResetColor()" (click)="onChangeDftClr($event)"></div>
 <div class="circle3" (mouseenter)="onChangeColor($event)" (mouseleave)="onResetColor()" (click)="onChangeDftClr($event)"></div>
 <div class="circle4" (mouseenter)="onChangeColor($event)" (mouseleave)="onResetColor()" (click)="onChangeDftClr($event)"></div>
</div>