<h1>{{title}}</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/heroes">Heroes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/fun">Fun</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/material">Material</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/experience">Experience</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/scroll">Scroll</a>
    </li>
</ul>
<div class="container">
  <div class="row">
    <router-outlet></router-outlet>    
  </div>
</div>

