<div class="sandbox-wrapper">
  <div class="sandbox-content">
      <cdk-virtual-scroll-viewport itemSize="700" class="sandbox-viewport">
          <div *cdkVirtualFor="let item of _data" class="sandbox-item">
              <div class="item-content">
                <img [src]="item.content" />
                <span>{{item.id}}</span>
              </div>
          </div>
        </cdk-virtual-scroll-viewport>        
  </div>
  <div class="thumbnail-wrapper">
    <app-thumbnail [data]="_data" [isOn]="true"></app-thumbnail>
  </div>  
</div>
